body {
	background-color: pink;
	padding: 3%;
	position: relative;
	text-align: center;
}

@media (min-width: 1250px) {
	.large {
		display: inline-block;
	}
	.medium {
		display: none;
	}
	.small {
		display: none;
	}
}

@media (max-width: 1250px) {
	body {
		background: #75fff4;
	}
	.large {
		display: none;
	}
	.medium {
		display: inline-block;
	}
	.small {
		display: none;
	}
}

@media (max-width: 780px) {
	body {
		background: #ffdc7a;
	}
	.large {
		display: none;
	}
	.medium {
		display: none;
	}
	.small{
		display: inline-block;
	}
}

section {
	background: white;
	padding: 3%;
}

h1 {
	color: #ababab;
	font-family: 'Bungee', cursive;
	font-size: 5em;
	line-height: 1em;
	animation: blink 2s ease-in-out infinite;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: .5;
    }
	100% {
		opacity: 1;
	}
}

h2 {
	color: #ababab;
	font-family: 'Bungee', cursive;
	font-size: 3em;
}

h3 {
	color: #ababab;
	font-family: 'Bellota Text', cursive;
	font-size: 3em;
	line-height: 0.1em;
}

h4 {
	color: #ababab;
	font-family: 'Bellota Text', cursive;
	font-size: 3em;
	line-height: 0.3em;
}

p {
	background-color: white;
	color: #737272;
	font-family: 'Bellota Text', cursive;
	letter-spacing: 5px;
	line-height: 3em;
}